{% load static %}
{% for doctor in doctors  %}
<div class="cbp-item psychiatrist">
    <a href="{% url 'freedoctor' doctor.id %}" class="cbp-caption cbp-singlePage">
        <div class="cbp-defaultWrap">
            <img src="{{ doctor.picture.url }}" alt="" width="300px;height:200px;">
        </div>
        <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
                <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-text">Profili görüntülə</div>
                </div>
            </div>
        </div>
    </a>
    <a href="{% url 'freedoctor' doctor.id %}" class="cbp-singlePage cbp-l-grid-team-name">{{ doctor.name }}</a>
    <div class="cbp-l-grid-team-position">{{ doctor.catname.name }}</div>
</div>
{% endfor %}